body {
    margin: 10px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* align-items: center; */
    /* background-color: #000000; */
}
#main {
    margin-top: 20px;
    background-color: #eeeeee;
    border-radius: 10px;
    padding-top: 15px;
}
#title {
    /* background-color: cad2c5; */
    font-size: 40px;
    line-height: 60px;
    color: #333333;
    font-weight: bold;
}
#sub-title {
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
}
#img-div {
    background-color: #ffffff;
    margin-left: 15px;
    margin-right: 15px;
}
#image {
    display: block;
    margin: auto;
    max-width: 100%;
}
#img-caption {
    color: #333333;
    padding: 15px;
    font-size: 16px;
    line-height: 24px;
}
#about {
    color: #333333;
    font-size: 19px;
    line-height: 28px;
    font-weight: bold;
    padding: 20px;
}
#list {
    width: 50%;
    margin: 0 auto;
    /* background-color: #ffffff; */
    text-align: left;
    font-size: 16px;
    line-height: 25px;

}
li{ 
    color: #333333;
    margin: 15px;
}
#quotation {
    /* border: 1px solid green; */
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 45%;
    text-align: left;
}
#quote {

    font-size: 16px;
    line-height: 24px;
    margin: auto;
    margin-bottom: 10px;
    /* border: 1px solid red; */
    /* background-color: red; */
    color: #333333;
}
#cite {
    /* background-color: rebeccapurple; */

    /* border: 1px solid black; */
    color: #333333;
}

#footer {
    font-size: 19px;
    line-height: 28px;
    color: #333333;
    padding: 40px;
}

#tribute-link {
    color: #477ca7;
}

@media (max-width: 480px) {
    #list {
        width: 80%;
        padding: 0;
    }
    #quotation {
        width: 80%;
    }
}

@media (max-width: 768px) {
    #list {
        width: 80%;
        padding: 0;
    }
    #quotation {
        width: 80%;
    }
}